body {
    overflow-x: hidden;
}


/* Color */
.textApp {
    color: #f48500;
}

.textApp:hover {
    text-decoration: none;
    color: #555;
}

.navbarAdmin {
    background-image: linear-gradient(to right, #f48500, #fba300);
}

.pinkColor {
    background-color: #D0004D;
}

/* Navbar */
.headText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.headText:hover {
    text-decoration: none;
    color: #555;
}

.sidebar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group {
    margin-top: 20px;
}

.logo {
    margin-right: 20px;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.imageAdmin {
    margin-left: 60px;
}

.textSide {
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Content */

.contentHeadText {
    margin-bottom: 40px;
}

.content {
    margin-left: 30px;
    margin-top: 10px;
    height: auto;
    width: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.cardDesg {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.buttonApp {
    width: 40%;
    background: #f48500 !important;
    color: white !important;
    margin-top: 40px;
}

.btnEdit {
    background: #f48500 !important;
    border-radius: 30px;
}

/* Notify */
.notify {
    margin-left: 30px;
    margin-top: 30px;
}

.notifyText {
    text-align: center;
}

/* Footer */
.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
}

.textFooter {
    margin-top: 40px;
}

@media (min-width: 568px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}